{% extends "main.twig" %}

{% block title %}Home{% endblock %}

{% block css %}
    <style type="text/css">
        .mt20 {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container mt20">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1>Hello Leafphp!</h1>
                    <p><a class="btn btn-primary btn-lg" href="http://www.pfinal.cn" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
