.step-bar {
    overflow: hidden;
    border: 1px solid #e7e7eb;
    color: #747474;
}

.step-bar .step {
    float: left;
    line-height: 43px;
    height: 43px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.step-bar .current {
    background-color: #49b34f;
    color: #fff;
}

.step-bar .prev {
    background: url("../img/bg-process.png") no-repeat 0 -44px;
    background-position: right;
}

.step-bar .pprev {
    background: url("../img/bg-process.png") no-repeat 0 -44px;
    background-position: right 0;
}

.step-bar .next {
    background: url("../img/bg-process.png") no-repeat 0 -88px;
}

.step-bar .nnext {
    background: url("../img/bg-process.png") no-repeat 0 0;
}