<?php

$app['debug'] = true;
$app['env'] = 'dev';

$app['db.config'] = array_replace_recursive($app['db.config'], [
    //'dsn' => 'mysql:host=localhost;dbname=test',
    'username' => 'root',
    'password' => '',
]);
