{{ username }}，您好：
<br>
<br>
请您点击下面链接来修复您的登录密码:
<br>
<a href="{{ url }}" target="_blank">{{ url }}</a>
<br>
<br>为了确保您的帐号安全，该链接仅24小时内访问有效。
<br>
<br>
如果点击链接不能正确跳转
<br>
<br>请您选择并复制整个链接，打开浏览器窗口并将其粘贴到地址栏中。然后单击"转到"按钮或按键盘上的 Enter 键。
<br>
<br>请勿直接回复此邮件。
<br>
<br>{{ site }}