{% extends "main.twig" %}

{% block main %}
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">找回密码</div>
                    <div class="panel-body">

                        {% if app.session.hasFlash('message') %}
                            <div class="alert alert-success">{{ app.session.getFlash('message') }}</div>
                        {% endif %}

                        <form class="form-horizontal" method="POST" action="{{ url('password/forgot') }}">

                            <div class="form-group {# has-error #} ">
                                <label for="email" class="col-md-4 control-label">手机/邮箱</label>

                                <div class="col-md-6">
                                    <input id="email" type="text" class="form-control" name="email"
                                           value="{{ app.request.get('email')|default('') }}" required>

                                    {#<span class="help-block">
                                            <strong></strong>
                                    </span>#}

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        下一步
                                    </button>

                                    <a class="btn btn-link" href="{{ url('login') }}">返回登录?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
