.leaf-icon-loading {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/loading.gif);
}

button {
    outline: none;
}

.leaf-message .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.leaf-message .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.leaf-message .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.leaf-message .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.leaf-message .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.leaf-show-dialog-close {
    display: inline-block;
    background-color: #fff;
    border-radius: 100%;
    font-size: 18px;
    line-height: 18px;
    padding: 5px 8px;
    position: absolute;
    top: -15px;
    right: -15px;
}

.leaf-show-dialog-close:after {
    content: "X";
}
